<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Hello World</title>
        <script type="application/javascript" src="js/scripts/vue.js"></script>
        <style>
            body{
                background:#eee;
                max-width: 960px;
                margin: 20px auto;
            }
            p, h3, ul{
                margin: 0;
                padding: 0;
            }
            li{
                list-style-type: none;
                background-color: #fff;
                margin: 20px auto;
                padding: 10px 20px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            li.fav {
                background: #ff9ed2;
                color: white;
            }
        </style>
    </head>
    <body>
        <h1>Webpage TITLE</h1>
        <div id="app">
            <!-- <a :href="url">Plex Time</a> -->
            
            <div v-if="showBooks">
                <ul>
                    <li v-for="book in filteredBooks" :class="{ fav: book.isFav }" @click="toggleFav(book)">
                        <img :src="book.img" :alt="book.title">
                        <h3>{{ book.title }} </h3>
                        <p>{{ book.author }}</p>
                    </li>
                </ul>
            </div>

            <button @click="toggleBooks">
                <span v-if="showBooks">Hide Books</span>
                <span v-else>Show Books</span>
            </button>
        </div>
        <script type="application/javascript" src="js/app/app.js"></script>
    </body>
</html>